{% extends 'base.html' %}

{% block title %}History{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<style>
    .btn {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 120px;
        transition: background-color 0.3s;
    }

    .btn:hover {
        background-color: #45a049;
    }

    .table-container {
        background: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        overflow-x: auto;
        margin-top: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 15px;
        border-bottom: 1px solid #ddd;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
    .delete-btn{
        padding: 10px 20px;
        background-color: #c01f06;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
        width: 120px;

    }
    .delete-btn:hover {
        background-color: #db1106;
    }
</style>
<div class="title">
    <h1>History</h1>
</div>
<div class="table-container">
   
    <table id="myTable">
        <thead>
            <tr>
                <th>Date</th>
                <th>Domain</th>
                <th>Analyst</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for rep in reps %}
            <tr>
                <td>{{rep.date.strftime("%Y-%m-%d")}}</td>
                <td>{{rep.name}}</td>
                <td>{{rep.analyst}}</td>
                <td>
                    <form action="{{ url_for('history.download_rep', rep_id=rep.id) }}" method="POST">
                    <button type="submit" class="btn download-btn">Download</button>
                </form>
                <form action="{{ url_for('history.delete_rep', rep_id=rep.id) }}" method="POST">
                <button type="submit" class="delete-btn">Delete</button>
                </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
