<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Company</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="navbar">
        <img src="static/logonextstep.png" alt="Your Company Logo" class="logo">
        <div class="nav-buttons">
            <a class="nav-button" href="/">Pentest</a>
            <a class="nav-button" href="cve">CVE</a>
            <a class="nav-button" href="history">History</a>
        </div>
    </div>
    <div class="container">
        

        <div class="tabs">
            <div class="tab" onclick="openTab(event, 'zimbra')" id="defaultOpen">Zimbra</div>
            <div class="tab" onclick="openTab(event, 'exchange')">Microsoft Exchange</div>
        </div>

        <div id="zimbra" class="form-content active">
            <h2>Zimbra</h2>
            <form action="/zimbra-form" method="POST">
                <label for="ip">IP Address:</label>
                <input type="text" id="domain" name="domain" placeholder="Domain" required>
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" placeholder="Email" required>
                <input type="text" id="dkim" name="dkim" placeholder="DKIM Selector" >
                <div class="checkbox-group">
                    <label for="checkbox1"><input type="checkbox" id="checkbox1" name="check"> Check for SPF/DKIM/DMARC</label>
                    <label for="checkbox2"><input type="checkbox" id="checkbox2" name="spam"> Mail spam</label>
                    <label for="checkbox3"><input type="checkbox" id="checkbox3" name="Phishing"> Phishing mail</label>
                
                    <label for="checkbox4"><input type="checkbox" id="checkbox4" name="web"> Web authetification bruteforce</label>
                    <label for="checkbox5"><input type="checkbox" id="checkbox5" name="bruteforce"> Smtp/imap/pop3 bruteforce</label>
                    <label for="checkbox6"><input type="checkbox" id="checkbox6" name="capabilities"> Check for imap/pop3 capabilities</label>
                    
                    <label for="checkbox8"><input type="checkbox" id="checkbox8" name="enumeration"> Smtp/imap/pop3 user enumeration</label>
                    <label for="checkbox9"><input type="checkbox" id="checkbox9" name="scanner"> Vulnerability scanner</label>
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>

        <div id="exchange" class="form-content">
            <h2>Microsoft Exchange</h2>
            <form>
                <label for="ip2">IP Address:</label>
                <input type="text" id="ip2" name="ip2" placeholder="" required> <!-- Different id for Exchange IP -->
                <div class="checkbox-group">
                    <label for="checkbox7"><input type="checkbox" id="checkbox7" name="checkbox7"> Checkbox 7</label>
                    <label for="checkbox8"><input type="checkbox" id="checkbox8" name="checkbox8"> Checkbox 8</label>
                    <label for="checkbox9"><input type="checkbox" id="checkbox9" name="checkbox9"> Checkbox 9</label>
                
                    <label for="checkbox10"><input type="checkbox" id="checkbox10" name="checkbox10"> Checkbox 10</label>
                    <label for="checkbox11"><input type="checkbox" id="checkbox11" name="checkbox11"> Checkbox 11</label>
                    <label for="checkbox12"><input type="checkbox" id="checkbox12" name="checkbox12"> Checkbox 12</label>
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Your Company. All rights reserved.</p>
    </footer>

    <script src="static/script.js"></script>
</body>

</html>
